// Header color variables
$BellIconColor: #b5b5b5;
$BellIconHoverColor: #2fc4fa;
$AvatarColor: #ffb533;
$AvatarHoverColor: #ffa300;

// Menu color variables
$BinaryCardBackgroundColor: #fff;
$QACardBackgroundColor: #52BF77;
$JSCardBackgroundColor: #F7CF69;
$JavaCardBackgroundColor: #E12B4C;
$PhpCardBackgroundColor: #7C87B7;
$DotnetCardBackgroundColor: #581C6A;
$EventsCardBackgroundColor: #298EFD;
$BlogCardBackgroundColor: #0443A3;
$ContactsCardBackgroundColor: #00265F;